<main>
  <div id="who_dialog">
    <h3>I want to talk rubbish to...</h3>
  </div>

  <form action="/" method="POST">
    <div id="jobs">
      <div class="job_title">
        <div class="avatar">
          <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5668/angry-developer.jpg"
            alt="developer">
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="Developer" id="Developer" value="Developer" checked>
          <label class="form-check-label" for="Developer">
            Developer
          </label>
        </div>
      </div>

      <div class="job_title">
        <div class="avatar">
          <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5667/angry-designer.jpg"
            alt="developer">
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="Designer" id="Designer" value="Designer">
          <label class="form-check-label" for="Designer">
            Designer
          </label>
        </div>
      </div>

      <div class="job_title">
        <div class="avatar">
          <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5669/angry-founder.jpg"
            alt="developer">
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="Enterpriser" id="Enterpriser" value="Enterpriser">
          <label class="form-check-label" for="Enterpriser">
            Enterpriser
          </label>
        </div>
      </div>
    </div>

    <div id="rubbish_output">
      <button type="submit" class="btn btn-primary">
        Rubbish!!!
      </button>
      <div class="output">
        <p>Rubbish shows here!!!</p>
      </div>
    </div>
  </form>

</main>